div(id='rightTop')   
    div(id='entityInfoHeader' class='ui inverted teal menu')
        div(class='title item')
            i( class='info icon') 
            |Textual Entity Information
        div(class='icon menu right')
            a( class='item')
                i( class='browser icon')
            a( class='item active')
                i( class='list layout icon')
            a( class='item')
                i( class='dashboard icon')

    div(id='entityInfoContent')
